# OpenSTA style. Demonstrates multiple clang-format bugs.
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AlignOperands: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevel
BinPackArguments: false
# fails
BinPackParameters: false
BraceWrapping:   
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  BeforeElse: true
BreakBeforeBraces: Custom
# fails if all initializers fit on one line
BreakConstructorInitializers: AfterColon
ColumnLimit: 0
# fails
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
DerivePointerAlignment: false
IncludeBlocks: Preserve
PointerAlignment: Right
