common --enable_bzlmod

# suppress distracting warning about newer module
# versions found in dependency graph.
common --check_direct_dependencies=off

build --cxxopt "-std=c++17"        --host_cxxopt "-std=c++17"
build --cxxopt "-ffp-contract=off" --host_cxxopt "-ffp-contract=off"

# allow exceptions.
build  --cxxopt=-fexceptions    --host_cxxopt=-fexceptions

# Turn warnings on...
build --copt "-Wall"               --host_copt "-Wall"
build --copt "-Wextra"             --host_copt "-Wextra"

# ... and disable the warnings we're not interested in.
build --copt "-Wno-sign-compare"      --host_copt "-Wno-sign-compare"
build --copt "-Wno-unused-parameter"  --host_copt "-Wno-unused-parameter"

# For 3rd party code: Disable warnings entirely.
# They are not actionable and just create noise.
build --per_file_copt=external/.*@-w
build --host_per_file_copt=external/.*@-w

# Settings for --config=asan address sanitizer build
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

# Mostly users and build systems want the release build
build:release -c opt
build --config=release
run --config=release
test --config=release

# TODO: document
build --incompatible_strict_action_env

# TODO: setup a new cache for OpenROAD
# Read only remote cache, updated by OpenROAD team members and CI.
#build --remote_cache=https://storage.googleapis.com/megaboom-bazel-artifacts
#build --remote_cache_compression=true

try-import %workspace$/user.bazelrc
