Checks: >
  -*,
  readability-identifier-naming

WarningsAsErrors: "*"

CheckOptions:
  - { key: readability-identifier-naming.ClassCase,                value: CamelCase  }
  - { key: readability-identifier-naming.EnumCase,                 value: CamelCase  }
  - { key: readability-identifier-naming.UnionCase,                value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,    value: CamelCase  }
  - { key: readability-identifier-naming.TypedefCase,              value: CamelCase  }
  - { key: readability-identifier-naming.TypeAliasCase,            value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,             value: camelBack  }
  - { key: readability-identifier-naming.ClassMethodCase,          value: camelBack  }
  - { key: readability-identifier-naming.VariableCase,             value: lower_case }
  - { key: readability-identifier-naming.ClassMemberCase,          value: lower_case }
  - { key: readability-identifier-naming.ClassMemberSuffix,        value: _          }
  - { key: readability-identifier-naming.MemberCase,               value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix,      value: '_'        }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,    value: '_'        }
  - { key: readability-identifier-naming.PrivateMemberCase,        value: lower_case }
  - { key: readability-identifier-naming.ProtectedMemberCase,      value: lower_case }
  - { key: readability-identifier-naming.NamespaceCase,            value: lower_case }
  - { key: readability-identifier-naming.ConstantCase,             value: lower_case }
  - { key: readability-identifier-naming.ParameterCase,            value: lower_case }
  - { key: readability-identifier-naming.MacroDefinitionCase,      value: UPPER_CASE }
