# Put tool specific ignores in the tool directory, not here.

*.o
*.a
*.lo
*.la
*.gcov
*.gcda
*.gcno
*.rej
*.orig
*.vscode
*.sw[opqr]
*.code-workspace
TAGS
*~
\#*#
.~lock.*#
.DS_Store
.cache
Makefile
__pycache__
venv/
.abc_history

include/ord/Version.hh

build
build_linux
build_mac
test/results

docs/main
README2.md
messages.txt
messages.checked
Messages.md
MessagesFinal.md

.idea/
cmake-build-debug/
debug/

coverage-output
.metals/

etc/openroad_deps_prefixes.txt
etc/run-clang-tidy-cached
OpenROAD_clang-tidy.*

*debhelper*
debian/changelog
debian/files
debian/openroad
obj-x86_64-linux-gnu/

user.bazelrc

# Limit ignore to these files, so we see and clean out other cruft that pollutes grep
/bazel-*

projectview.bazelproject
.bsp/
.bazelbsp/
/buildifier
