# Put tool specific ignores in the tool directory, not here.

*.o
*.a
*.lo
*.la
*.gcov
*.gcda
*.gcno
*.rej
*.orig
*.vscode
TAGS
*~
\#*#
.~lock.*#
.DS_Store
Makefile

include/ord/Version.hh

build
test/results
flow

docs/main

.idea/
cmake-build-debug/

coverage-output
messages.txt
