[submodule "module/OpenSTA"]
	path = src/sta
	url = ../../The-OpenROAD-Project/OpenSTA.git
[submodule "src/abc"]
	path = third-party/abc
	url = ../../The-OpenROAD-Project/abc.git
[submodule "third-party/naja-if"]
	path = third-party/naja-if
	url = https://github.com/najaeda/naja-if
