[submodule "module/OpenSTA"]
	path = src/sta
	url = https://github.com/The-OpenROAD-Project/OpenSTA.git
[submodule "src/abc"]
	path = third-party/abc
	url = https://github.com/The-OpenROAD-Project/abc.git
