set cap_error .72

proc adj { cap } {
  global cap_error
  return [expr $cap / (1.0 + $cap_error)]
}

set_layer_rc -layer li1 -capacitance [adj 0.156844e-3] -resistance 68.241676e-3
set_layer_rc -layer met1 -capacitance [adj 0.242717e-3] -resistance 1.217961e-3
set_layer_rc -layer met2 -capacitance [adj 0.184431e-3] -resistance 1.218041e-3
set_layer_rc -layer met3 -capacitance [adj 0.328785e-3] -resistance 0.16798e-3
set_layer_rc -layer met4 -capacitance [adj 0.269208e-3] -resistance 0.16798e-3
set_layer_rc -layer met5 -capacitance [adj 0.26395e-3] -resistance 0.018544e-3

set_layer_rc -via mcon -resistance 9.249146E-3
set_layer_rc -via via -resistance 4.5E-3
set_layer_rc -via via2 -resistance 3.368786E-3
set_layer_rc -via via3 -resistance 0.376635E-3
set_layer_rc -via via4 -resistance 0.00580E-3
