#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=optimize=-lto

export OPENROAD_EXE=$(abspath ./obj-x86_64-linux-gnu/src/openroad)


%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -- -l/opt/or-tools/lib

override_dh_install:
	dh_install --sourcedir=/opt

override_dh_auto_test:
override_dh_dwz:
