if {0} {
set_layer_rc -layer metal1 -capacitance 1.002e-01 -resistance 5.429e-03
set_layer_rc -layer metal2 -capacitance 8.863e-02 -resistance 3.571e-03
set_layer_rc -layer metal3 -capacitance 8.709e-02 -resistance 3.571e-03
set_layer_rc -layer metal4 -capacitance 1.079e-01 -resistance 1.500e-03
set_layer_rc -layer metal5 -capacitance 1.111e-02 -resistance 1.500e-03
set_layer_rc -layer metal6 -capacitance 8.189e-02 -resistance 1.500e-03
set_layer_rc -layer metal7 -capacitance 1.139e-01 -resistance 1.875e-04
set_layer_rc -layer metal8 -capacitance 8.313e-02 -resistance 1.875e-04
set_layer_rc -layer metal9 -capacitance 1.076e-01 -resistance 3.750e-05
set_layer_rc -layer metal10 -capacitance 8.184e-02 -resistance 3.750e-05
}

# adjusted by -17%
set_layer_rc -layer metal1 -resistance 5.432e-03 -capacitance 8.494e-02
set_layer_rc -layer metal2 -resistance 3.574e-03 -capacitance 8.081e-02
set_layer_rc -layer metal3 -resistance 3.574e-03 -capacitance 7.516e-02
set_layer_rc -layer metal4 -resistance 1.502e-03 -capacitance 9.663e-02
set_layer_rc -layer metal5 -resistance 1.502e-03 -capacitance 8.394e-02
set_layer_rc -layer metal6 -resistance 1.502e-03 -capacitance 7.298e-02
set_layer_rc -layer metal7 -resistance 1.883e-04 -capacitance 1.112e-01
set_layer_rc -layer metal8 -resistance 1.883e-04 -capacitance 8.528e-02
set_layer_rc -layer metal9 -resistance 3.780e-05 -capacitance 9.063e-02
set_layer_rc -layer metal10 -resistance 3.780e-05 -capacitance 6.635e-02

#MIA set_layer_rc -via -resistance
