name: Lint Python

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  Black:
    runs-on: ${{ vars.USE_SELF_HOSTED == 'true' && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Run black
        uses: psf/black@stable
