name: Update Changelog

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ] # Temporarily to test

jobs:
  updateChangeLog:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Create Changelog file
        run: |
          git log --pretty=format:"%h%x09%an%x09%ad%x09%s" --date=short --since="2023-08-01" > NEWS.md
          cd .github/workflows && python changelog_report.py

      - name: Get current date components
        run: |
          echo "DAY=$(date +'%d')" >> $GITHUB_ENV
          echo "MONTH=$(date +'%m')" >> $GITHUB_ENV
          echo "YEAR=$(date +'%Y')" >> $GITHUB_ENV

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update report
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: example-patches
          delete-branch: true
          title: 'Changelog update for ${{ env.MONTH }}/${{ env.YEAR }}'
          body: |
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels: |
            docs
          assignees: vvbandeira
          reviewers: vvbandeira
