name: Scan Code with pre commit trigger

on:
  push:
  pull_request:
    branches:
    - master

jobs:
  Security-Scan:
    runs-on: ${{ vars.USE_SELF_HOSTED == 'true' && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: run security_scan_on_push
        uses: The-OpenROAD-Project/actions/security_scan_on_push@main
