name: Lint Tcl code

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install tclint
        run: |
          python -m pip install tclint==0.2.0

      # TODO: hardcoded list of files while we incrementally lint codebase
      # See issue #4347 for tracking
      - name: Lint
        run: |
          tclint \
            src/Metrics.tcl \
            src/OpenRoad.tcl \
            src/ant/src/AntennaChecker.tcl \
            src/cts/src/TritonCTS.tcl \
            src/dbSta/src/dbReadVerilog.tcl \
            src/dbSta/src/dbSta.tcl \
            src/dft/src/dft.tcl \
            src/dpl/src/Opendp.tcl \
            src/dpo/src/Optdp.tcl \
            src/drt/src/TritonRoute.tcl \
            src/dst/src/Distributed.tcl \
            src/fin/src/finale.tcl \
            src/gpl/src/replace.tcl \
            src/grt/src/GlobalRouter.tcl \
            src/gui/ \
            src/ifp/src/InitFloorplan.tcl \
            src/mpl/src/MacroPlacer.tcl \
            src/mpl2/src/mpl.tcl \
            src/pad/ \
            src/par/src/partitionmgr.tcl \
            src/pdn/ \
            src/ppl/src/IOPlacer.tcl \
            src/psm/ \
            src/rcx/src/OpenRCX.tcl \
            src/rmp/src/rmp.tcl \
            src/rsz/src/Resizer.tcl \
            src/stt/src/SteinerTreeBuilder.tcl \
            src/tap/src/tapcell.tcl \
            src/upf/src/upf.tcl
