name: Scan Code with pre commit trigger
on:
  # Triggers the workflow on push or pull request events
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: run security_scan_on_push
        uses: The-OpenROAD-Project/actions/security_scan_on_push@main
